body{
    background-color: rgb(213, 180, 193);
}
table {
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
border-collapse: collapse;
width: 100%;
}

td, th {
border: 1px solid #a38798;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: #a58398;
}
h2{
text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}